{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <h1 class="text-center">Vous êtes déjà connecté ✅</h1>
            <div class="text-center">
                <a href="{{ path('app_dashboard') }}" class="btn btn-primary">Aller au tableau de bord</a>
                <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
            </div>
        {% else %}
            <h1 class="text-center">Connexion</h1>
            <div class="card p-3 shadow-sm">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        <input type="email" name="email" id="username" class="form-control" required autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Se connecter</button>

                    <p><a href="#">Mot de passe oublié</a></p>
                <p>Pas encore inscrit(e) ? <a href="{{ path('app_register') }}">M'inscrire</a></p>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

