{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Inscrivez-vous</h1>
            </div>
        </div>
    </div>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(registrationForm.email) }}
            </div>

             <div class="col-md-6">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
            </div>
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les conditions'
        }) }}
            <div class="col-md-6">
                <button type="submit" class="btn btn-lg btn-primary">M'inscrire</button>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
    <p>Déjà inscrit(e) ? <a href="{{ path('app_login') }}">Me connecter</a></p>
{% endblock %}
