{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion des fichiers</h1>
    <table>
        <tr>
            <th>Nom du fichier</th>
            <th>Utilisateur</th>
            <th>Stokage</th>
            <th>Date d'upload</th>
        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file.thumdnail }}</td>
                <td>{{ file.idUser.email }}</td>
                <td>{{ file.idUser.storage.name }}</td>
                <td>{{ file.idUser.storage.sizeUse }}/{{ file.idUser.storage.sizeAllow }}</td>
                <td>{{ file.dateUpload | date('d M Y') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
