{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <div class="container">
        <h1>⚙️ Paramètres du compte</h1>
        <p>Email : {{ app.user.email }}</p>
        <p>Nom : {{ app.user.firstName }} {{ app.user.lastName }}</p>
        <p>role : {{ app.user.roles | join(', ') }}</p>

        <form method="post" action="{{ path('user_delete') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.');">
            <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
        </form>
    </div>
{% endblock %}
